* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --color-primary: black;
  --color-secondary: white;
}

.main-container {
  color: var(--color-secondary);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary);
  @media (max-width: 768px) {
    justify-content: center;
  }
}
.right-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 768px) {
    align-items: center;
  }
}
.contact-img {
  height: 50vh;
  @media (max-width: 768px) {
    display: none;
  }
}

.contact-heading {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid var(--color-secondary);
  padding: 20px;
  gap: 20px;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.link {
  font-size: 30px;
  height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border: 2px solid;
    border-radius: 40px;
    padding: 5px;
  }
}
.input-box-div {
  position: relative;
  background-color: var(--color-tertiary);
  border-bottom: 3px solid var(--color-secondary);
  height: 9vh;
  width: 20vw;
  @media (max-width: 768px) {
    width: 60vw;
    height: 8vh;
  }
}
.input-box {
  background-color: transparent;
  border: none;
  height: 9vh;
  width: 20vw;
  z-index: 1;
  position: relative;
  font-size: 1rem;
  color: white;
  @media (max-width: 768px) {
    width: 60vw;
    height: 8vh;
  }
  &:focus {
    outline: none;
  }
}
.input-box-text-div {
  color: var(--color-quaternary);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 10vh;
  width: 20vw;
  gap: 10px;
  @media (max-width: 768px) {
    width: 60vw;
    height: 8vh;
  }
}
.contact-btn {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
