/* ---footer ---- */
:root{
  --primary-color: #160523;
  --text-color: #333333;
  --secondary-color: #fff;
  --base-font-size:1.2rem;
  --vermin-vibes: "vermin", sans-serif;
  --hyper-helix : "hyper", sans-serif;
  --footer-color:#3586ff;
}




.wave-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 100px;
  background-repeat: repeat no-repeat;
  background-size: 50% 100px;
  opacity: 0.7;
  /* animation: wave 10s linear infinite; */
}

.wave1 {
  background-image: url(../assets/img/wave.png);
  opacity: 0.8;
  z-index: 3;
  animation: wave_2 10s linear infinite;
}

.wave2 {
  background-image:  url(../assets/img/wave.png);
  opacity: 0.6;
  z-index: 2;
  animation-delay: -5s;
  animation: wave 10s linear infinite;
}

.wave3 {
  background-image:  url(../assets/img/wave.png);
  opacity: 0.4;
  z-index: 1;
  animation: wave_2 10s linear infinite;
  animation-delay: -2s;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes wave_2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}


footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem 5rem 1.5rem;
  background: linear-gradient(to bottom, #3586ff, rgba(53, 134, 255, .5));
}

.left-footer{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.left-footer h3{
  color: var(--secondary-color);
  font-family: var(--hyper-helix);
  font-size: 1.5rem;
}
.left-footer span{
  color:var(--primary-color);
  cursor: pointer;
  font-weight: 500;
}
.left-footer span a{
  /* text-decoration: none; */
  color: var(--primary-color);
}
.left-footer span :hover{
  color:var(--text-color);
}

.center-footer{
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: .7rem;
}
.center-footer li{
  list-style-type: none;
}

.center-footer h3{
  font-family: var(--hyper-helix);
}

.center-footer a{
  text-decoration: none;
  color: var(--text-color);
}
.center-footer a:hover{
  color: var(--secondary-color);  
  transform: scale(1.3);
}
.center-footer a::after{
  content:'';
  width: 0%;
  height: 2px;
  margin: auto;
  transition: 0.3s;
  display: block;
  background:var(--secondary-color);
}
.center-footer a:hover::after{
  width: 50%;
}

.right-footer{
  flex-basis: 30%;
}

.right-footer h4{
  font-family: var(--hyper-helix);
}
.right-footer span{
  color: var(--primary-color);
  font-size: .7rem;
}
.right-footer .greetThankyou{
  display: none;
  margin-right: 6rem;
  margin-top: 8px;
  font-size: .9rem;
  font-weight: 600;
}

.socialLinks i{
  font-size: 1.7rem;
  border-radius: 50%;
  margin: 5px 7px;
  transition: transform .3s ease-out;
}
.socialLinks a{
  text-decoration: none;
  color: var(--text-color);
}
.socialLinks i:hover{
  transform: scale(1.3);
  color: var(--secondary-color);
}

.subscribe-footer{
  margin-top: 2rem;
}

.footer-input{
  padding: 10px 20px;
  border: none;
  outline: none;
}

.subscribe-footer a{
  text-decoration: none;
  font-size: .7rem;
  padding: 10px 15px;
  border: none;
  background: var(--primary-color); 
  color: var(--secondary-color);
  margin-left: 10px;
  transition: all .2s ease;
}

.subscribe-footer a:hover{
  padding: 12px 17px;
  font-size: .708rem;
  background: var(--footer-color);
}

.partitionLine{
  width: 3px;
  height: 7rem;
  background:var(--text-color);
  border-radius: 50px;
  margin: 0 30px;
}

@media screen and (max-width:1200px){
  footer{
    width: 100%;
    padding: 0px;
  }
  .subscribe-footer{
    display: flex;
    flex-direction: column;
  }

  .subscribe-footer span{
    margin-top: 20px;
  }
  .subscribe-footer a{
    margin-left: 0px;
  }
  .subscribe-footer input{
    width: 13rem
  }
  .center-footer{
    flex-basis: none;
  }
}

@media screen and (max-width:850px){
  .partitionLine{
    display: none;
  }
  .right-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer{
    justify-content: space-around;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 2rem;
  }
  .center-footer{
    right: 50%;
    display: block;
  }
  .left-footer{
    padding: 1.5rem;
    align-items: center;
    max-width:30rem;
  }
  .subscribe-footer{
    display: block;
  }
}

