* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color-primary: rgb(79 192 232);
  --color-secondary: white;
  --color-tertiary: rgb(242 242 242);
  --color-quaternary: #767676;
  --font-large: 2.5rem;
  --font-medium: 2rem;
  --font-small: 1.25rem;
  --font-ex-small: 0.8rem;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: var(--color-secondary);
}
.login-container {
  background: linear-gradient(181deg, #249dac, #5822e7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vw;
  gap: 10vh;
}
.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
}
.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35vh;
}
.back-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 24px;
  color: white;
}
.back-btn span {
  font-size: var(--font-large);
}
.blue-btn {
  padding: 20px;
  height: 10vh;
  background-color: var(--color-primary);
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-small);
  &:hover {
    background-color: rgb(79 192 232 / 80%);
  }
  @media (max-width: 768px) {
    width: 60vw;
    height: 8vh;
  }
}
.blue-border-btn {
  padding: 20px;
  height: 10vh;
  color: black;
  border-radius: 30px;
  border: 1.5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-small);
  &:hover {
    background-color: rgba(218, 223, 225, 0.8);
  }
  @media (max-width: 768px) {
    width: 60vw;
    height: 8vh;
  }
}
.login-box {
  position: relative;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 50px;
  padding: 40px;
  @media (max-width: 768px) {
    padding: 65px 45px 30px 45px;
  }
}
.profile-picture {
  position: absolute;
  top: -50px;
  border-radius: 50px;
  height: 6rem;
}
.input-box-div {
  position: relative;
  background-color: var(--color-tertiary);
  border-radius: 30px;
  height: 10vh;
  width: 20vw;
  @media (max-width: 768px) {
    width: 60vw;
    height: 8vh;
  }
}
.input-box {
  background-color: transparent;
  border: none;
  height: 10vh;
  width: 20vw;
  z-index: 1;
  position: relative;
  padding: 0 20px;
  font-size: 1rem;

  @media (max-width: 768px) {
    width: 60vw;
    height: 8vh;
  }
  &:focus {
    outline: none;
  }
}
.input-box-text-div {
  color: var(--color-quaternary);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 10vh;
  width: 20vw;
  padding: 0 15px;
  gap: 10px;
  @media (max-width: 768px) {
    width: 60vw;
    height: 8vh;
  }
}
.login-form-icon {
  color: var(--color-quaternary);
}
.button-div {
  display: flex;
  width: 20vw;
  justify-content: space-between;
}

.login-image {
  height: 65vh;
  @media (max-width: 768px) {
    display: none;
  }
}
